/*--------------------------------------------
            Typography
--------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster+Two|Poppins&display=swap');

/* For industry and portfolio blog
font-family: 'Alfa Slab One', cursive;
font-family: 'Lobster Two', cursive;
*/

/*--------------------------------------------
            
--------------------------------------------*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5% /* 10 / 16px // 1rem */
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

:root {
    --color-primary: rgb(16, 29, 44);
    --color-secondary: rgb(136, 166, 183);
    --color-image-tint: rgba(16,29,44,0.5);
    --color-primary-lighter: rgba(16, 29, 44, .9);

    --color-primary-gradient: linear-gradient(to right, rgba(16,29,44,.9), rgba(136,166,183,1));

    --color-gradient-projects: linear-gradient(to bottom, rgba(16,29,44,.9), rgba(136,166,183, .9));

    /* Greys */
    --color-grey-light: #f9f7f6;
    --color-grey-light-2: #e0dedd;
    --color-grey-dark: #595959;

    /* Complimentary Colours */
    --color-gold-primary: #8A6333;
    --color-gold-darker: #73532B;

    --color-button-background: #8A6333;
    --color-button-text: #ffffff;

    --color-blog-buttons: #e3e7f1;
    --color-button-hover: #C6CEE2;

    --color-blog-background: linear-gradient(to right, rgba(138, 99, 51, 0.1), rgba(138, 99, 51, 0.3));
}

img {
    max-width: 100%;
}

/*--------------------------------------------
                Accessibility
--------------------------------------------*/
.skip-link {
    clip: rect(1px 1px 1px 1px);
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 200ms ease;
}

.skip-link:focus {
    display: block;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    padding: 1.4rem 2rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light);
    clip: auto;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    animation: skipLinkAnimation 400ms ease-in;
    z-index: 1000;
}

@keyframes skipLinkAnimation {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }

}

/*--------------------------------------------
                BUTTONS
--------------------------------------------*/
.btn {
    display: inline-block;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    padding: 1.3rem 2rem;
    cursor: pointer;
    font-weight: 700;
    transition: all 200ms ease-in;
}

@media screen and (min-width: 40em) {
    .btn {
        font-size: 1.5rem;
    }
}

.btn:hover,
.btn:focus {
    background-color: var(--color-gold-darker);
    box-shadow: 0 2rem 5em (0,0,0,.8);
    transform: translateY(-.3rem);
}

.btn:active {
    transform: translateY(-.1rem);
}

/*--------------------------------------------
                HEADER
--------------------------------------------*/
.master__header {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    height: 85vh;
}

.master__nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 3rem 1rem;
}

.master__nav-links {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-2);
    font-weight: 300;
    position: relative;
    transition: color 200ms ease;
}

.master__nav-links:hover,
.master__nav-links:focus {
    color: var(--color-grey-light);
}

.master__nav-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: .2rem;
    border-radius: .2rem;
    width: 100%;
    background-color: var(--color-grey-light);
    transform-origin: bottom right;
    transform: scale(0);
    transition: transform 500ms ease;
}

.master__nav-links:hover::after,
.master__nav-links:focus::after {
    transform-origin: bottom left;
    transform: scale(1);
}

.master__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

.master__heading {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 900;
    color: var(--color-grey-light);
    text-transform: uppercase;
    padding: 4rem 0 1rem 0; 
    letter-spacing: 2px;
}

.master__job {
    color: var(--color-grey-light-2);
    font-size: 2rem;
    padding: 0 1rem 1.5rem 0;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
}

.master__title .btn {
    font-size: 1.5rem;
    animation: animateButton 700ms ease-in;
}

@keyframes animateButton {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (min-width: 46em) {
    .master__heading {
        font-size: 6rem;
    }

    .master__job {
        font-size: 3rem;
    }

    .master__title .btn {
        font-size: 2.4rem;
        padding: 2rem 3rem;
    }
}

/*--------------------------------------------
                About Me Section
--------------------------------------------*/
.about__me {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-primary);
}
.about__photo-jamie {
    padding: 2rem 5rem;
}

.about__img-jamie {
    border-radius: 50%;
    shape-outside: circle(50%);
}

.about__description {
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    color: var(--color-grey-dark);
}

.about__bold-text {
    color: var(--color-gold-darker);
    font-weight: 900;
}

.about .btn {
    font-size: 1.7rem;
    padding: 1.5rem 4rem;
}
.about__cv-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}


@media screen and (min-width: 44em) {
    .about__container {
        max-width: 120rem;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content;
        justify-items: center;
        align-content: center;
    }

    .about__me {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 50em) {
    .about__container {
        padding: 4rem 0 0 0;
        grid-template-columns: repeat(4, 1fr);
    }
}


/*--------------------------------------------
            Services Section
--------------------------------------------*/

.services {
    background-image: url(../img/services-bg.svg);
    background-size: cover;
    padding: 7rem 0 0 0;
}

.services__title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-grey-light);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3rem 0;
    font-weight: 700;
}

.services__content {
    padding: 2rem;
}

.services__items {
    list-style-type: none;
}

.services__item {
    padding: 2rem 0;
    
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1vw;

    justify-items: start;
}

.services__item-title {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 1.1;
    color: var(--color-grey-light);
    font-weight: 700;
}

.services__icon {
    grid-row: 1 / span 2;
    color: var(--color-grey-light);
}

.services__description {
    color: var(--color-grey-light);
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: .5rem;
}

@media screen and (min-width: 47em) {
    .services__items {
        max-width: 120rem;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content;
        grid-gap: 1vw;
    }

    .services__title {
        font-size: 3.2rem;
        padding: 5rem 0;
    }
}
/*--------------------------------------------
            Contact Form
--------------------------------------------*/
.contact {
    padding: 5rem 0;
}
.contact__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact__title {
    text-transform: uppercase;
    margin-right: 2rem;
    font-size: 1.9rem;
    line-height: 1.2;
}

.contact__form-container {
    padding: 1.3rem 2rem;
}

.contact__label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact__label {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 .6rem 0;
}

.contact__label-guide {
    font-size: 1.2rem;
    margin-left: .4rem;
    text-transform: none;
    font-weight: 400;
}

.contact__form input,
.contact__form textarea {
    margin-bottom: 1.2rem;
    font-family: inherit;
}

.contact__input {
    padding: 1rem;
    border: .2rem solid var(--color-gold-primary);
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    color: var(--color-grey-dark);
    font-weight: 300;
}

@media screen and (min-width: 39em) {

    .contact__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content max-content;
        grid-gap: 1rem;
    }
    
    .contact__label-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        grid-row-gap: 1rem;
    }

    .contact__label-container:nth-child(4) {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 48em) {
    .contact__form-container {
        max-width: 80rem;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-column: 1 / span 2;
    }

}

/*--------------------------------------------
            CV Page
--------------------------------------------*/

.cv__header {
    background-image: url(../img/cv-bg.svg);
    background-size: cover;
    height: 40vh;
}

.cv__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.5rem 0 0 0;
}

.cv__title {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-grey-light);
    margin-bottom: 1rem;
}

.cv__job {
    font-size: 1.7rem;
    color: var(--color-grey-light-2);
    letter-spacing: 1.5px;
    font-weight: 300;
    padding: .5rem 0;
    position: relative;
}

.cv__job::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-grey-light);
    animation: animateJobTop 800ms ease;
}

.cv__job::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-grey-light);
    animation: animateJobBottom 800ms ease;
}

@keyframes animateJobTop {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes animateJobBottom {
    0% {
        opacity: 0;
        transform: translateX(100%);    
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.profile {
    padding: 3rem 2rem;
    position: relative;
}

.profile__headings {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 2.5rem 0 1rem 0;
    color: var(--color-gold-primary);
}

.profile__headings + p {
    font-size: 1.3rem;
    color: var(--color-grey-dark);
}

.profile__skills {
    font-size: 1.3rem;
    color: var(--color-grey-dark);
    list-style: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem .5rem 1.2rem .5rem;
}

.profile__skills-item {
    padding: .3rem 0;
}

.profile:nth-of-type(1)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: .2rem;
    background-color: var(--color-gold-primary);
    transform: translateX(50%);
}

/*Experience and other skills section */

.profile__experience {
    font-size: 1.6rem;
    line-height: 1.2;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.profile__experience:last-of-type {
    margin-top: 2.5rem;
}

.profile__date {
    font-size: 1.2rem;
    margin-left: .4rem;
}

.profile__experience-role {
    font-size: 1.4rem;
    margin: 1.3rem 0 0 0;
    color: var(--color-gold-darker);
}

.experience {
    padding: .5rem .5rem 2rem 0;
}

.profile__contact-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 3rem 0;
}

.profile__details {
    list-style: none;
}

.profile__contact-header {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: .5rem 0 .3rem 0;
}

.profile__contact-header + li {
    font-size: 1.4rem;
    color: var(--color-grey-dark);
}

.profile__email {
    text-decoration: none;
    color: var(--color-grey-dark);
    font-size: 1.4rem;
}

.profile__email:hover,
.profile__email:focus {
    color: var(--color-gold-darker);
    font-weight: 900;
}

@media screen and (min-width: 44em) {
    .profile {
        max-width: 120rem;
        margin: 0 auto;
       
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: start;
        grid-gap: 1.2rem;
    }

    .profile__headings {
        font-size: 2rem;
    }

    .profile__headings + p {
        font-size: 1.8rem;
        padding: 0 1.5rem 0 0;
    }

    .profile__skills {
        font-size: 1.6rem;
    }

    .profile__work:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .profile__experience {
        font-size: 1.7rem;
    }

    .profile__experience-role {
        font-size: 1.5rem;
    }
}

/*--------------------------------------------
            Blogs Page
--------------------------------------------*/

.blog {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    height: 68vh;
}

@media screen and (min-width: 32em) {
    .blog {
        height: 50vh;
    }
}

.blog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}


.blogs__heading {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 900;
    color: var(--color-grey-light);
    text-transform: uppercase;
    padding: 2rem 0 0 1rem; 
    letter-spacing: 2px;
}

.blogs__intro-text {
    color: var(--color-grey-light);
    font-size: 1.8rem;
    padding: 1.3rem 1rem 3rem 1rem;
}

@media screen and (min-width: 41em) {
    .blogs__intro-text {
        font-size: 2.1rem;
        padding: 1.3rem 2.3rem 3rem 2.3rem;
    }
}

.blogs {
    padding: 5rem 2rem;
}

.blogs__cards {
    list-style: none;
    
    display: grid;
    /* Makes card layout responsive, no need for media queries */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    margin-top: 3rem;
}

@media screen and (min-width: 61em) {
    .blogs__cards {
        max-width: 120rem;
        margin: 5rem auto;
    }
}

.blogs__card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary-lighter);
}


.blog-links {
    text-decoration: none;
    height: 100%;
    transition: transform 200ms ease; 
}

.blog-links:hover,
.blog-links:focus {
    transform: translateY(-1rem);
}

.blog-links:active {
    transform: translateY(-.7rem);
}

.blogs__photo {
    position: relative;
}

.blogs__photo img {
    display: block;
 }

/*Color overlay for images */
.blogs__photo::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-image-tint);
}

.blogs__intro-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 2rem 1rem;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-grey-light);
}

@media screen and (min-width: 37.5em) {
    .blogs__intro-title {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 56.9em) {
    .blogs__intro-title {
        font-size: 1.9rem;
    }
}

.blogs__intro {
    position: relative;
    grid-column: 1 / span 2;
    padding: 5rem 1rem;
    color: var(--color-grey-light);
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.blogs__entry {
    position: absolute;
    top: 5%;
    left: 2%;
}

.blogs__entry-date {
    font-size: 1rem;
    font-style: italic;
}

.blogs__btn {
    background-color: var(--color-blog-buttons);
    color: var(--color-primary);
    grid-column: 1 / span 2;
    width: 100%;
    text-align: center;
    border-radius: 0;
    padding: 2rem 0;
    font-size: 1.5rem;

    align-self: flex-end;
}

.blogs__btn:hover,
.blogs__btn:focus {
    background-color: var(--color-button-hover);
}

/*--------------------------------------------
            Industry Blog Page
--------------------------------------------*/
.industry__header {
    height: 60vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(0deg, -7deg);
    margin-top: -15rem;
    margin-bottom: 10rem;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%); */
}

.industry__container {
    transform: skew(0deg, 7deg);
    margin-top: 15rem;
}

.industry__title {
    font-family: 'Alfa Slab One', cursive;
    color: var(--color-grey-light);
    font-size: 3.5rem;
    letter-spacing: .5rem;
    line-height: 1.2;
    animation: animateBlogTitle 800ms ease-in;
}

@keyframes animateBlogTitle {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.industry {
    padding: 2rem;
}

.industry__blog-title {
    font-size: 2.5rem;
    line-height: 1.2;
    padding-bottom: .8rem;
}

.industry__brexit-img {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    shape-outside: url(../img/james-claffey-beUtKWoCdaM-unsplash.JPG);
    shape-margin: 2vw;
}

.industry p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-grey-dark);
    padding: .8rem 0;
}

.industry__sub-titles {
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 0 0 0;
    color: var(--color-gold-primary);
}

.industry__business {
    display: flex;
}

.skills__report {
    float: left;
    shape-outside: circle(50%);
    margin-top: 1rem;
    shape-margin: 1vw;
}

.industry__job-roles {
    padding: .8rem 0;
}

.industry__job-roles img {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
}


.industry__img-caption {
    font-size: 1.1rem;
    color: var(--color-gold-darker);
    font-style: italic;
}

.blog__credit {
    color: var(--color-gold-darker);
}

.industry__reference {
    margin: 2rem 0 4rem 0;
}

.industry__references {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    background-color: var(--color-grey-light-2);
    padding: 2rem;
}

.industry__references-item {
    font-size: 1.2rem;
    color: var(--color-primary);
    padding: 1rem 0;
}

.industry__references-item a {
    color: var(--color-primary);
}

.industry__blog-buttons {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.industry__blog-btn {
    font-size: 1rem;
}

.blog__links {
    color: var(--color-gold-darker);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.blog__links:hover,
.blog__link:focus {
    background-color: var(--color-gold-darker);
    color: var(--color-grey-light);
    text-decoration: none;
    padding: .1rem;
}


@media screen and (min-width: 45em) {
    .industry__title {
        font-size: 5rem;
    }

    .industry__intro {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .industry__blog-title {
        font-size: 3.3rem;
    }

    .industry p {
        font-size: 1.8rem;
    }

    .industry__brexit {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }
    
    .industry__sub-titles {
        font-size: 3rem;
    }

    .industry__blog-buttons {
        max-width: 65em;
        margin: 0 auto;
    }

    .industry__blog-btn {
        font-size: 1.5rem;
    }

    .industry__references {
        max-width: 65em;
        margin: 0 auto;
    }

    .industry__references-item {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 50em) {
    .industry__skills-section {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .industry__blog-circle {
        max-width: 65em;
        margin: 0 auto;
    }

    .industry__job-section {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .industry__img-caption {
        font-size: 1.3rem;
        color: var(--color-gold-darker);
        font-style: italic;
    }
}

/*--------------------------------------------
        Portfolio Development Blog Page
--------------------------------------------*/
.portfolio__header {
    background-image: url(../img/portfolio-blog-bg.svg);
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__header-title {
    color: var(--color-grey-light);
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1.2;
    font-size: 2.8rem;
    text-align: center;
    padding: 0 1.5rem;
    animation: animatePortfolioTitle 700ms ease;
}

@keyframes animatePortfolioTitle {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translate();
    }
}

.portfolio {
    padding: 2.2rem 1.5rem;
}

.portfolio__blog-intro {
    margin: 1.5rem 0;
}

.portfolio__page-title {
    color: var(--color-primary);
    font-size: 2.5rem;
    line-height: 1.3;
    padding-bottom: .8rem;
}

.portfolio p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-grey-dark);
    padding: .8rem 0;
}

.portfolio__sub-titles {
    font-size: 2rem;
    padding: 1.5rem 0 0 0;
    color: var(--color-gold-primary);
}

.portfolio__wireframes {
    padding: 1.5rem 0;
}

.portfolio__code {
    padding: 1rem 0 0 0;
}

.portfolio__code-background {
    background-color: var(--color-primary);
    padding: 1rem;
}

.portfolio__code figcaption {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-grey-dark);
    padding: .8rem 0;
}

.code-examples {
    color: var(--color-grey-light);
    font-size: 1.8rem;
}

.code-examples.inline {
    color: var(--color-primary);
    font-size: 1.8rem;
}

.portfolio__build-grid {
    margin-bottom: 1rem;
}

.portfolio__github {
    margin: 1.5rem 0;
}

.portfolio__resources {
    padding: 1.2rem 2rem;
}

.portfolio__resources li {
    padding: .5rem;
}

.portfolio__resources a {
    text-decoration: underline;
    color: var(--color-grey-dark);
    font-size: 1.5rem;
}

.portfolio__resources a:hover,
.portfolio__resources a:focus {
    background-color: var(--color-button-background);
    color: var(--color-grey-light);
    transition: all 200ms ease-in;
    text-decoration: none;
}

@media screen and (min-width: 39em) {
    .portfolio__wireframes-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media screen and (min-width: 45em) {
    .portfolio {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .portfolio__page-title {
        font-size: 3.3rem;
    }

    .portfolio p {
        font-size: 1.8rem;
    }
}

/*--------------------------------------------
        Portfolio Performance Blog Page
--------------------------------------------*/

.performance {
    padding: 2.2rem 1.5rem;
}

.performance__blog-intro {
    margin: 2.5rem 0;
}

.performance__page-title {
    color: var(--color-primary);
    font-size: 2.5rem;
    line-height: 1.3;
    padding-bottom: .8rem;
}

.performance__optimisation {
    padding: .5rem 0 1.5rem 0;
}

.performance p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-grey-dark);
    padding: .8rem 0;
}

@media screen and (min-width: 45em) {
    .performance {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .performance__page-title {
        font-size: 3.3rem;
    }

    .performance p {
        font-size: 1.8rem;
    }
}

/*--------------------------------------------
            Portfolio Page
--------------------------------------------*/

.live__music {
    margin: 3rem 0;
    padding: 2rem 1rem;
}

.projects__main-title {
    color: var(--color-primary);
    font-size: 2.2rem;
    line-height: 1.3;
    padding: 3rem 1rem 4rem 1rem;
    text-align: center;
}

.projects__title {
    font-size: 1.8rem;
    color: var(--color-gold-darker);
    padding: 1.2rem 0 .3rem 0;
}

.live__music p {
    color: var(--color-grey-dark);
    font-size: 1.5rem;
}

.projects__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.projects .btn {
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 1rem 4rem;
}

@media screen and (min-width: 43em) {
    .projects {
        max-width: 98em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .projects__title {
        padding: 0 0 1rem 0;
    }

    .projects__main-title {
        font-size: 3rem;
    }

    .projects__description {
        display: flex;
        flex-direction: column;
    }

    .projects__description .btn {
        margin-top: 2rem;
    }

    .projects p {
        font-size: 1.8rem;
    }
}

/*--------------------------------------------
            Live Music Page
--------------------------------------------*/
.projects__bg {
    background-image: url(../img/projects-bg.svg);
    background-size: cover;
    height: 80vh;
}

@media screen and (min-width: 20em) {
    .projects__bg {
        height: 70vh;
    }
}

@media screen and (min-width: 28em) {
    .projects__bg {
        height: 50vh;
    }
}

.music__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.projects__page-title {
    font-size: 3rem;
    color: var(--color-grey-light);
    line-height: 1.3;
    letter-spacing: .2rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.my-projects {
    padding: 2rem 1rem;
}

.my-projects p {
    font-size: 1.5rem;
    color: var(--color-grey-dark);
}

/* Project introduction */

.project {
    margin: 3rem 0;
}

.project__title {
    color: var(--color-gold-darker);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.my-projects figcaption {
    color: var(--color-gold-primary);
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 0 1.2rem 1.2rem 0;
    max-width: 90%;
}

.project__images {
    padding: 4rem 5rem;
}

.project__images img:nth-of-type(1) {
    transform: rotate(10deg);
    animation: animateProjectImageOne 500ms ease-in;
}

.project__images img:nth-of-type(2) {
    transform: rotate(-10deg);
    animation: animateProjectImageTwo 500ms ease-in;
}

@keyframes animateProjectImageOne {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes animateProjectImageTwo {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@media screen and (min-width: 39em) {
    .project {
        max-width: 75em;
        margin: 0 auto;
    }

    .projects__page-title {
        font-size: 3.8rem;
    }

    .my-projects p {
        font-size: 1.8rem;
    }

    .project__title {
        font-size: 3.5rem;
        margin: 2rem 0;
    }


    .project__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .8rem;
        position: relative;
        padding: 1rem 2rem;
    }

    .project__images img:nth-of-type(1) {
        transform: rotate(10deg);   
    }

    .project__images img:nth-of-type(2) {
        transform: rotate(-10deg);   
    }

    .project__description {
        margin-top: 2.5rem;
    }

    .my-projects figcaption {
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 45em) {
    .projects__page-title {
        font-size: 4rem;
    }
}

/*Project role section */

.project__role {
    margin: 3rem 0;
}

.project__role-title {
    color: var(--color-gold-darker);
    font-size: 2rem;
    margin: 0 0 1.2rem 0;
}

.project__logo {
    float: left;
    shape-outside: circle(50%);
    shape-margin: 2vw;
    padding: 0 1rem 0 0;
}

.project__logo img {
    border-radius: 50%;
}

@media screen and (min-width: 39em) {
    .project__role {
        max-width: 75em;
        margin: 2rem auto;
    }

    .project__logo {
        shape-margin: 0;
    }

    .project__role-title {
        font-size: 2.8rem;
    }

}

/* Project success section */

.project__success {
    margin: 2rem 0;
}

.project__design-ideas {
    margin: 1.3rem 0; 
}

.project__design-ideas img {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
}

.project__design-ideas figcaption {
    margin-top: 1.2rem;
}

.project__success p {
    padding-bottom: 1rem;
}

@media screen and (min-width: 39em) {
    .project__success {
        max-width: 75em;
        margin: 5rem auto;
    }
}

/* Project critique section */

.project__critique {
    margin-bottom: 2rem;
}

.project__critique p {
    padding-bottom: 1rem;
}

@media screen and (min-width: 39em) {
    .project__critique {
        max-width: 75em;
        margin: 0 auto;
    }
}


/*--------------------------------------------
            Plan it project page
--------------------------------------------*/

.project__description p {
    padding-bottom: 1rem;
}

.project__role p {
    padding-bottom: 1rem;
}

.project__logo.plan img {
    border-radius: 10rem;
    margin: 1rem 1rem 0 0;
}

@media screen and (min-width: 39em) {
    .project__logo.plan img {
        margin: 2rem 2rem 0 0;
    }
}


/*--------------------------------------------
            Footer
--------------------------------------------*/

.master__footer {
    background-image: var(--color-primary-gradient);
    background-size: cover;
    position: relative;
    padding: 2rem;
}

.footer__links-title {
    color: var(--color-grey-light);
    font-size: 2rem;
}

.footer__links {
    list-style: none;
}

.footer__link {
    text-decoration: 1rem solid var(--color-grey-light);
    padding: .3rem 0;
    font-size: 1.5rem;
}

.footer__links a {
    color: var(--color-grey-light);
    transition: all 200ms ease-in;
}

.footer__links a:hover,
.footer__links a:focus {
    background-color: var(--color-gold-darker);
    color: var(--color-grey-light);
    text-decoration: none;
    padding: 1rem;
    border-radius: 10rem;
}

.social__media {
    padding-bottom: 3rem;
}

.social__title {
    font-size: 2rem;
    padding-top: 1rem;
    color: var(--color-grey-light);
    line-height: 1.2;
}

.social__media-icons {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

}

.social__media-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-light);
    margin: 2rem 2.5rem;
}

.social__media-icon:nth-of-type(1) {
    margin-left: 0;
}

.social__icon {
    display: block;
    transition: transform 200ms ease-in;
}

.social__icon:hover,
.social__icon:focus {
    transform: translateY(-.4rem);
}

.footer__disclaimer {
    margin-top: 2rem;
}

.master__footer-text {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--color-grey-light);
}

.back-top {
    position: absolute;
    bottom: 5%;
    right: 2%;
}

@media screen and (min-width: 42em) {
    .master__footer-container {
        max-width: 75em;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .social__title,
    .footer__links-title {
        font-size: 2.2rem;
    }
    
    .social__media-icon {
        height: 4rem;
        width: 4rem;
        margin: 2rem 2.5rem;
    }


    .footer__link {
        padding: .3rem 0;
        font-size: 1.8rem;
    }

    .footer__disclaimer {
        max-width: 75em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
    }
}





